<header>
    <img id="magoal" src="https://raw.githubusercontent.com/Jrpm60/images/refs/heads/main/Magoal_logo.PNG" alt="Magoal 66" height="70" width="100" margin-left:15px>
    <h1>La gestion integral del transporte del siglo XXI</h1>
    <img id="eTr2" src="https://github.com/Jrpm60/images/blob/main/coin.PNG?raw=true" width="100" height="70" alt="Coin">
</header>