<header>
    <img id="magoal" src="https://raw.githubusercontent.com/Jrpm60/images/refs/heads/main/Magoal_logo.PNG" alt="Magoal 66" height="40" width="60" margin-left:15px>
    <h1>Gestion de Operaciones</h1>
    <img id="eTr2" src="https://github.com/Jrpm60/images/blob/main/eTr2.PNG?raw=true" width="60" height="40" alt="Coin">
</header>