<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


    <%- include('partials/header') %>
    <%- include('partials/nav') %>

    <section class="section-container">


        <!-- INICIO PRIMER BLOQUE. IMAGEN. IMPAR COLAPS IZQ 2 DE 3 COLUMNAS................ -->
        
        <div class="gallery-item item-columspan" >
            <img src="https://raw.githubusercontent.com/Jrpm60/images/refs/heads/main/EnConstruccion.PNG" alt="Image 1">
        </div>
        
        <div class="gallery-item">
            <h1>Estamos trabajando</h1>
        </div>
        
        </section>

    <%- include('partials/footer') %>
    
</body>
</html>