<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magoal 66</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


    <%- include('partials/reg_header') %>
    <%- include('partials/reg_nav') %>

    <div>
        <br>
        <br>
        <br>
        <a href="/getfichero?id=1">Ver Accesos</a> <br>
        <a href="/getfichero?id=2">Ver Solicitudes empleo</a> <br>
        <a href="/getfichero?id=3">Ver Solicitudes de contacto</a> <br>
        <a href="/getfichero?id=4">Ver Historias de cliente</a> <br>
    </div>


    <%- include('partials/footer') %>
    
</body>
</html>