<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magoal 66</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    
    <%- include('partials/header') %>
    <%- include('partials/nav') %>

    <form action="/procesar" method="post">
        <div class="gallery-item item-columspan2" >
            <div>
                <label for="cli">Cliente:</label>
                <input type="text" id="cli" name="cli" required>
            </div>
            <div>
                <label for="emailCli">Contacto Cliente: (e_mail)</label>
                <input type="email" id="emailCli" name="emailCli" required>
            </div>
            <div>
                <label for="cliHist">Descripcion Solicitud</label>
                <input type="textarea" id="cliHist" name="cliHist" required>
            </div>
            <div>
                <label for="prioridad">Prioridad:</label>
                <select name="prioridad" id="prioridad">
                    <option value="1">Baja</option>
                    <option value="2">Media</option>
                    <option value="3">Alta</option>
                    <option value="4">Muy alta. Riesgo de Negocio</option>

                </select>
            </div>

            <div>
                <label for="cliHistDate">Fecha:</label>
                <input type="date" id="cliHistDate" name="cliHistDate" required>
            </div>

            <div>
                <label for="cliHistDep">Area de Negocio:</label>
                <select name="cliHistDep" id="cliHistDep">
                    <option value="1">Direccion</option>
                    <option value="2">Operaciones</option>
                    <option value="3">Facturacion</option>
                    <option value="4">Gestion de Personas</option>

                </select>
            </div>
            

             <!--<div id="polipriv">
                <input type="checkbox" id="politicaPrivacidad">
                <h5><a target="_blank" href="00politica_privacidad.txt">Política de Privacidad</a></h5>
            </div>

            <div id="robotCheck">
                <input type="checkbox" onchange="manejarCheckbox.call(this)">
                <img width="150px" id="robot" src="https://raw.githubusercontent.com/Jrpm60/images/refs/heads/main/Robot.PNG" alt="Image 8">
            </div>

            <progress id="barraProgreso" value="0" max="100"></progress>

            <p id="cargando">Cargando... <span id="valorProgreso">0</span>%</p>
                
            <script>
                function actualizarProgreso(valor) {
                    document.getElementById("barraProgreso").value = valor;
                    document.getElementById("valorProgreso").textContent = valor;
                }
        
                let progreso = 0;
                let intervalo;
        
                function iniciarProgreso() {
                    document.getElementById("barraProgreso").style.display = "block"; // Mostrar barra de progreso
                    document.getElementById("cargando").style.display = "block"; // Mostrar mensaje "Cargando..."
                    intervalo = setInterval(() => {
                        progreso += 10;
                        if (progreso <= 100) {
                            actualizarProgreso(progreso);
                        } else {
                            clearInterval(intervalo);
                        }
                    }, 250);
                }
        
                function detenerProgreso() {
                    clearInterval(intervalo);
                    document.getElementById("barraProgreso").style.display = "none"; // Ocultar barra de progreso
                    document.getElementById("cargando").style.display = "none"; // Ocultar mensaje "Cargando..."
                }
        
                function manejarCheckbox() {
                    if (this.checked) {
                        iniciarProgreso();
                    } else {
                        detenerProgreso();
                    }
                }
            </script> -->

            <div>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </form>



    <%- include('partials/footer') %>
    
    
</body>
</html>